.container {
    width: 100%;
    position: relative;
    top: 110px;
    min-height: 100hv;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.trow2 {
    position: relative;
    /* flex-basis: 100%; */
    display: flex;
    margin-left: 7px;
    margin: 12px 0;
    /* width: 100%; */
    position: relative;
    top: -95px;
    /* margin-left: 11px; */
    justify-content: center;
}

.timage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 74px -1px;
}

.tmain-image {
    /* width: 550px; */
    /* height: 275px; */
    left: -2px;
    position: relative;
    margin: 30px 118px;
}


.Limage {
    width: 100%;
    position: relative;
    top: -174px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 74px -1px; */
}

.Lmain-image {
    width: 156px;
    /* height: 275px; */
    left: -2px;
    position: relative;
    /* margin: 30px 118px; */
}

.trow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: #FFF;
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}


.trow3 {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 125px;
    position: relative;
    margin: 25px 0;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: #FFF;
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}

.tcol-3 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    /* justify-items: self-start; */
    margin-top: -3px;
    /* width: 345px; */
}


.tbtn1 {
    cursor: pointer;
    display: flex;
    padding: var(--spacing-xl, 16px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 0px;
    color: #1485FD;
    border: none;
    background-color: #FFFFFF;
}



.tcol-2 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    margin-top: -3px;
    /* width: 345px; */
}



.tfooter-img {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* bottom: -19px; */
}

/* setup screen */

.s-container {
    width: 100%;
    position: relative;
    top: 2px;
    min-height: 100hv;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.s-col-2 h5 {
    color: #63BCAF;
    font: inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: -3px;
    /* width: 345px; */
}

.s-row2 {
    position: relative;
    /* flex-basis: 100%; */
    display: flex;
    margin-left: 7px;
    margin: 12px 0;
    /* width: 100%; */
    position: relative;
    top: -95px;
    /* margin-left: 11px; */
    justify-content: center;
}

.s-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 126px;
    position: relative;
    margin: 25px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: #FFF;
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}

.s-col-3 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    font-size: 14px;
    /* justify-items: self-start; */
    margin-top: -3px;
    /* width: 345px; */
}


.btnrow {
    display: flex;
    margin: 13px 0;
    position: relative;
    top: -76px;
    /* width: 57%; */
    /* margin-left: 80px; */
    align-content: center;
    justify-content: center;
    align-items: center;
}


.btnrow2 {
    display: flex;
    margin: -9px 0;
    /* width: 57%; */
    /* margin-left: 46px; */
    position: relative;
    top: -73px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 200px;
    height: 30px;
    position: relative;
    font-size: small;
    padding-bottom: 20px;
    padding-top: 18px;
    padding-top: -9px;
    color: #FFFFFF;
    border-radius: var(--radius-md, 8px);
    background: #1485FD;
    /* display: flex; */
    padding: var(--spacing-xl, 6px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}

.btn1{
    cursor: pointer;
    display: flex;
    padding: var(--spacing-xl, 16px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 0px;
    background-color: #FFFFFF;
}

/* Quick tour */

.s-container {
    height: 616px;
    width: 100%;
    position: relative;
    top: 2px;
    min-height: 100hv;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.q-row3 {
    display: flex;
    align-items: center;
    bottom: 503px;
    position: relative;
    margin: 13px;
    left: -12px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: #FFF;
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}


.qimage {
    position: relative;
    background-color: rgb(240 241 241 / 80%);
    width: 100%;
    bottom: -24px;
    height: 422px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px -1px;
}

.qmain-image {
    /* width: 550px; */
    height: 196px;
    position: relative;
    bottom: 111px;
    left: -2px;
    background-color: rgba(234, 234, 234, 0.8);
    position: relative;
    margin: 39px 118px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
}

.q-col-3 h1 {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    position: relative;
    font-size: 14px;
    bottom: -5px;
    text-decoration: solid;
    /* justify-items: self-start; */
    margin-top: 7px;
}

.qs-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 508px;
    position: relative;
    margin: 0px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: #FFF;
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}

.qs-col-3 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    font-size: 13px;
    /* justify-items: self-start; */
    margin-top: -3px;
    /* width: 345px; */
}

.qs-row4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom: 288px;
    position: relative;
    margin: 0px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: rgb(240 241 241 / -19%);
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}

.qs-col-4 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    position: relative;
    bottom: -12px;
    left: 15px;
    font-size: 14px;
    /* justify-items: self-start; */
    color: #1485FD;
    margin-top: -3px;
    /* width: 345px; */
}

.qs-row5 {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 298px;
    position: relative;
    margin: 0px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: rgb(240 241 241 / -19%);
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}

.qs-col-5 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    position: relative;
    bottom: -12px;
    left: 15px;
    font-size: 13px;
    /* justify-items: self-start; */
    /* color: #1485FD; */
    margin-top: -3px;
    /* width: 345px; */
}


.qs-row6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom: 292px;
    position: relative;
    margin: 0px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
    background: rgb(240 241 241 / -19%);
    /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
}

.qmini-steps {
    /* width: 550px; */
    height: 6px;
    position: relative;
    bottom: 1px;
    left: -2px;
    background-color: rgba(234, 234, 234, 0.8);
    position: relative;
    margin: 39px 118px;
    /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
}


.btnqkrow {
    display: flex;
    margin: 13px 0;
    position: relative;
    top: -283px;
    /* width: 57%; */
    /* margin-left: 80px; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btnqkrow2 {
    display: flex;
    margin: -9px 0;
    /* width: 57%; */
    /* margin-left: 46px; */
    position: relative;
    top: -286px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
}

.btnq {
    cursor: pointer;
    width: 200px;
    height: 30px;
    position: relative;
    font-size: small;
    padding-bottom: 20px;
    padding-top: 18px;
    padding-top: -9px;
    color: #FFFFFF;
    border-radius: var(--radius-md, 8px);
    background: #1485FD;
    /* display: flex; */
    padding: var(--spacing-xl, 6px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}

.btnq1 {
    cursor: pointer;
    display: flex;
    padding: var(--spacing-xl, 16px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 0px;
    text-decoration: none;
    background-color: #FFFFFF;
    border: none;
    color: #1485FD;
}


a{
    text-decoration: none;
}
