*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100hv;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.image{
    width: 100%;
    display: flex;
    align-items: center;
}

.main-image{
    width: 550px;
    margin: 30px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px);
    background: #FFF;
    box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05);

}

.col-1 {
    flex-basis: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: -1px;
}

.col-1 h1 {
    font-size: 22px;
    color: #101828;
    font-weight: 600;
}
.row2 {
    position: relative;
    /* flex-basis: 100%; */
    display: flex;
    margin: 13px 0;
    /* width: 100%; */
    margin-left: 67px;
    justify-content: space-between;
}

.col-2{
    flex-basis: 90%;
    position: relative;
    margin-right: 50px;
}
.col-2 h5{
    font-size: 14px;
    font-weight: 500;
    color: #475467;
}

.btnrow {
    display: flex;
    margin: 13px 0;
    /* width: 57%; */
    /* margin-left: 80px; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: darkblue;
    color: white;
    transition: .5s;
}

.btn {
    cursor: pointer;
    width: 200px;
    height: 30px;
    position: relative;
    font-size: small;
    padding-bottom: 20px;
    padding-top: 18px;
    padding-top: -9px;
    color: #FFFFFF;
    border-radius: var(--radius-md, 8px);
    background: #1485FD;
    /* display: flex; */
    padding: var(--spacing-xl, 6px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}

.btnrow2 {
    display: flex;
    margin: -9px 0;
    /* width: 57%; */
    /* margin-left: 46px; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn1{
    cursor: pointer;
    display: flex;
    padding: var(--spacing-xl, 16px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 0px;
    background-color: #FFFFFF;
}

.row3 {
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px -12px 2px;
}


.footer-img{
    position: relative;
   
    margin-right: 50px;
    width: 100%;
}


/* signin */

.Minicards {
    position: absolute;
    top: 173px;
    /* align-items: center; */
    z-index: 1;
    height: 402px;
    width: 320px;
    left: 31px;
    padding: 40px 0px;
    /* gap: 41px; */
    flex-shrink: 0;
    border-radius: 5px 5px var(--radius-none, 0px) var(--radius-none, 0px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFF;
    box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05);
}

.imgsign img {
    width: 300px;
    bottom: 40px;
    height: auto;
    position: relative;
}

.lines img {
    position: relative;
    bottom: 130px;
    height: 90px;
    width: 200px;
}

.close img {
    display: flex;
    position: relative;
    bottom: 215px;
    left: 265px;

}

.Signup-box {
    position: relative;
    bottom: 200px;
    left: 15px;
}

form label{
    display: flex;
    margin-top: 20px;
    color: var(--colors-text-text-secondary-700, #344054);
/* Text sm/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;

}

.submit{

    cursor: pointer;
    position: relative;
    bottom: 40px;
    width: 290px;
    color: #FFFFFF;
    border-radius: var(--radius-md, 8px);
    background: #1485FD;
    /* display: flex; */
    padding: var(--spacing-xl, 16px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}



.btn3{

    cursor: pointer;
    position: relative;
    bottom: 31px;
    width: 290px;
    color: #344054;
    border-radius: var(--radius-md, 8px);
    background: #FFFFFF;
    /* display: flex; */
    padding: var(--spacing-xl, 16px) 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}

.icon img {
    position: relative;
    bottom: 68px;
    left: 50px;
}

.textinput{

    display: flex;
    padding: 10px 14px;
    width: 255px;
    align-items: center;
    gap: var(--spacing-md, 8px);
    align-self: stretch;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    background: var(--Colors-Background-bg-primary, #FFF);
    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.passwordlength {
    color: #475467;
    position: relative;
    bottom: 20px;
}


/* Profile */

.Ph1 {
    align-self: stretch;
    color: var(--colors-text-text-primary-900, #101828);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    left: 49px;
    bottom: -19px;
    position: relative;
}

.Ph4 {
    align-self: stretch;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    left: 49px;
    color: #475467;
    bottom: -15px;
}
.nav {
    position: relative;
    flex-basis: 90%;
    display: flex;
    height: 25px;
    bottom: -20px;
    justify-content: space-between;
    align-items: center;
    margin: 13px -12px 2px;
}

.nav-img {
    width: 273px;
    position: relative;
    left: 50px;
    bottom: 19px;
}

.profile {
    width: 360px;
    height: 407px;
    background-color: #F2F4F8;
    display: flex;
    flex-direction: column;
}

.P-Minicards {
    position: absolute;
    top: 97px;
    /* align-items: center; */
    z-index: 1;
    height: 622px;
    width: 320px;
    left: 31px;
    padding: 40px 0px;
    /* gap: 41px; */
    flex-shrink: 0;
    border-radius: 5px 5px var(--radius-none, 0px) var(--radius-none, 0px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFF;
    box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05);
}

.P-textarea{
    height: 100px;
    width: 257px;
    position: relative;
    left: 15px;
    overflow: scroll;
    bottom: 57px;
    font-size: 13px;
    /* padding: 0px 0px; */
    /* gap: 41px; */
    padding: 9px;
    flex-shrink: 0;
    border-radius: 5px 5px var(--radius-none, 0px) var(--radius-none, 0px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFF;
    box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05);

}

.Ph1 {
align-self: stretch;
color: var(--colors-text-text-primary-900, #101828);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
left: 30px;
position: relative;
}

.Psh1 {
align-self: stretch;
color: var(--colors-text-text-primary-900, #101828);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 32px;
top: -30px;
left: 14px;
position: relative;
}

.Ph4 {
align-self: stretch;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px;
position: relative;
left: 30px;
color: #475467;
bottom: -14px;
}
.Psh4 {
align-self: stretch;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 20px;
position: relative;
left: 14px;
top: -43px;
color: #475467;
bottom: 19px;
}

.nav img {
width: 307px;
position: relative;
left: 42px;
bottom: 19px;
}

.Pbtn{
display: flex;
cursor: pointer;
position: relative;
top: 400px;
left: 32px;
width: 290px;
color: #FFFFFF;
border-radius: var(--radius-md, 8px);
background: #1485FD;
/* display: flex; */
padding: var(--spacing-xl, 16px) 22px;
justify-content: center;
align-items: center;
gap: 10px;
border-width: thin;
}
.Pbtn1{
display: flex;
cursor: pointer;
position: relative;
top: 412px;
left: 32px;
width: 290px;
color: #344054;
border-radius: var(--radius-md, 8px);
background: #FFFFFF;
/* display: flex; */
padding: var(--spacing-xl, 16px) 22px;
justify-content: center;
align-items: center;
gap: 10px;
border-width: thin;
}

.P-form label{
    display: flex;
    position: relative;
    margin-top: 20px;
    color: var(--colors-text-text-secondary-700, #344054);
    font-family: Inter;
    top: -58px;
    left: 17px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.P-textinput {
    display: flex;
    position: relative;
    height: 30px;
    top: -58px;
    font-size: 13px;
    left: 14px;
    padding: 2px 14px;
    width: 253px;
    gap: var(--spacing-md, 8px);
    /* align-self: stretch; */
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    background: var(--Colors-Background-bg-primary, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.button, select {
    height: 47px;
    padding: 12px;
    text-transform: none;
    position: relative;
    top: -61px;
    height: 34px;
    padding-top: 6px;
    font-size: 13px;
    left: 14px;
    width: 285px;
    align-items: center;
    gap: var(--spacing-md, 8px);
    /* align-self: stretch; */
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    background: var(--Colors-Background-bg-primary, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}



.Pline img {
    height: auto;
    display: flex;
    top: -2px;
    width: 117%;
    position: relative;
    right: 30px
}

.P-btn {
    cursor: pointer;
    position: relative;
    bottom: 49px;
    left: 23px;
    height: 40px;
    display: flex;
    /* padding-top: 161px; */
    width: 262px;
    /* padding: 24px; */
    /* margin-top: 20px; */
    font-size: 13px;
    padding-bottom: -23px;
    color: #FFFFFF;
    border-radius: var(--radius-md, 8px);
    background: #1485FD;
    /* display: flex; */
    /* padding: var(--spacing-xl, 16px) 22px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}

.P-btn1 {
    display: flex;
    cursor: pointer;
    position: relative;
    bottom: 41px;
    left: 24px;
    height: 35px;
    font-size: 13px;
    width: 261px;
    color: #344054;
    border-radius: var(--radius-md, 8px);
    background: #FFFFFF;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: thin;
}

.P-Backicon img {
    position: relative;
    bottom: 68px;
    left: 119px;
    height: 18px;
}
.Backicon img {
position: relative;
top: 376px;
left: 134px;
}


/* profile */
.P1-Minicards {
    position: absolute;
    top: 97px;
    /* align-items: center; */
    z-index: 1;
    height: 84%;
    width: 320px;
    left: 31px;
    padding: 40px 0px;
    /* gap: 41px; */
    flex-shrink: 0;
    border-radius: 5px 5px var(--radius-none, 0px) var(--radius-none, 0px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFF;
    box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05);
}

.Psh1 {
    align-self: stretch;
    color: var(--colors-text-text-primary-900, #101828);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    top: -30px;
    left: 14px;
    position: relative;
}

.Ps1h4 {
    align-self: stretch;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    left: 14px;
    top: -43px;
    color: #475467;
    bottom: 19px;
}

.Ps1h4{
    align-self: stretch;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    left: 14px;
    top: -40px;
    color: #475467;
    bottom: 19px;

}

.dropdown{
    display: flex;
    position: relative;
    top: -26px;
}

.P1-btn{
    position: relative;
    top: 294px;
}

.P1-form label{
    display: flex;
    position: relative;
    margin-top: 1px;
    color: var(--colors-text-text-secondary-700, #344054);
    font-family: Inter;
    top: -58px;
    left: 17px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.P1-line img {
    height: auto;
    display: flex;
    top: 287px;
    width: 117%;
    position: relative;
    right: 30px;
}



/* profile2 */
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    font-size: smaller;
    box-shadow: none;
    -webkit-appearance: textfield;
}

.col-md-8{
    position: relative;
    width: 89%;
    padding-right: 15px;
    padding-left: 32px;
    bottom: 38px;}

    .search-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
        /* background: #FFF; */
        /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
    }

    .P3-btncls {
        position: relative;
        top: 33px;
        left: 4px;
    }

    /* trainyourvoice */

    .trow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6px 0;
        /* border-radius: 50px 50px var(--radius-none, 0px) var(--radius-none, 0px); */
        background: #FFF;
        /* box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.05); */
    }

    .tcol-1 {
        font-size: 11px;
        flex-basis: 100%;
        position: relative;
        bottom: -6px;
        display: flex;
        justify-content: flex-start;
        margin: 5px;
    }

    .tbtn1 {
        cursor: pointer;
        display: flex;
        padding: var(--spacing-xl, 16px) 22px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 0px;
        color: #1485FD;
        border: none;
        background-color: #FFFFFF;
    }

    .trow2 {
        position: relative;
        /* flex-basis: 100%; */
        display: flex;
        margin-left: 7px;
        margin: 12px 0;
        /* width: 100%; */
        margin-left: 11px;
        justify-content: flex-start;
    }

    .tcol-2 h5 {
        font-size: 14px;
        font-weight: 500;
        color: #475467;
        /* width: 345px; */
    }

    .tmain-image {
        /* width: 550px; */
        height: 300px;
        left: 27px;
        position: relative;
        margin: 30px 118px;
    }
    
    .timage {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mini{
        position: relative;
    }
     
    .tminigif {
        position: relative;
        width: 67px;
        bottom: 82px;
        height: 141px;
        transform: scale(1.5);
        /* left: 193.75px; */
        right: 109px;
    }

    .trow3 {
        flex-basis: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -9px;
        margin: 10px;
        /* margin: 13px -12px 2px; */
    }

    .tfooter-img {
        position: relative;
        margin-right: -5px;
        width: auto;
        /* bottom: -19px; */
    }